@import 'vars';

.CharactersList h2 {
	font-size: var(--lg);
    color: var(--hospital-green);
	text-align: center;
}

.CharactersList-items {
	display: grid;
	grid-template-columns: repeat(auto-fill, 240px);
	gap: 26px;
	place-content: center;
	margin: 3em 0 0 0;
}

.Characters-fav{
	display: grid;
	grid-template-columns: repeat(auto-fill, 140px);
	gap: 26px;
	place-content: center;
	margin: 1em 0 2em 0;
}
.Characters-fav img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 5px solid var(--very-light-pink);
}

@media (max-width: 640px) {
	.CharactersList-items {
		grid-template-columns: repeat(auto-fill, 140px);
	}
	.Characters-fav {
		grid-template-columns: repeat(auto-fill, 100px);
	}
}